#press{
	background-color: #CBDFF9;
}

.links {
	text-align: center;
	display: flex;
	flex-direction: column;
	font-weight: 300;
	line-height: 40px;
	.link-top {
		font-size: 40px;
		&:hover {
			text-decoration: none;
		}
	}
	.link {
		text-decoration: none !important;
		padding-top: 40px;
		font-size: 40px;
		&:hover {
			text-decoration: none !important;
		}
		&:focus {
			text-decoration: none !important;
		}
		@media screen and (max-width: 767px){
			font-weight: 300;
		}
	}
	.title {
		font-size: 20px;
		font-weight: 400;
	}
	.date {
		font-size: 20px;
		font-weight: 400;
	}
}
