#home{
	background: url(~img/landing.jpeg) no-repeat;
	background-size: cover;
}
// #logo{
// 	width: 100%;
// 	max-width: 300px;
// 	margin-top: 30px;
// }
#logo{
	width: 100%;
	margin: 0 auto;
	max-width: 225px;
	display: block;
	margin-top: 180px;
}
#company-name, #landing-text-box{
	font-size: 50px;
	font-weight: 100;
	color: #45464A;
	color: white;
	text-align: center;
}
#landing-text-box{
	font-size: 40px;
}
#overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
}
