@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

*{
	font-family: 'Lato';
}
body {  position: relative;}

.full-screen{
	min-height: 100vh;
	width: 100%;
	float: left;
	position: relative;

	.padded-container{
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.navbar.navbar-fixed-top{
	margin-bottom: 0;
	border: none;
	background-color: #525252;

	li a{
			color: #E0E0E0;

			&:hover {
				color: white;
			}
	}

}

.header {
	font-size: 70px;
	text-align: center;
	padding-bottom: 60px;
}
