@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

*{
	font-family: 'Lato';
}
body {  position: relative;}

.full-screen{
	min-height: 100vh;
	width: 100%;
	float: left;
	position: relative;

	.padded-container{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.navbar.navbar-fixed-top{
	margin-bottom: 0;
	border: none;
	background-color: #525252;

	li a{
			color: #E0E0E0;

			&:hover {
				color: white;
			}
	}

}

.header {
	font-size: 70px;
	text-align: center;
	padding-bottom: 20px;
	font-weight: 300;
}
.navbar-brand{
	img{
		height: 100%;
	}
}
.navbar-brand.pull-right{
	@media screen and (max-width: 767px){
		display: none;
	}
}
.navbar-brand.left{
	@media screen and (min-width: 768px){
		display: none;
	}
}
