.team-member {
	width: 100%;
	float: left;
	margin-bottom: 40px;
	.logo {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.team-member {
		width: 100%;
		float: left;
		margin-bottom: 40px;
		.logo {
			width: 100%;
		}
		.description {
			margin-top: 20px;
		}
	}
}