.team-member {
	width: 100%;
	float: left;
	margin-bottom: 60px;
	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
	}

	.logo {
		width: 150px;
		max-width: 100%;
		max-height: 120px;
		margin: 0 auto;
		display: block;
	}
}

@media screen and (max-width: 767px) {
	.team-member {
		width: 100%;
		float: left;
		margin-bottom: 40px;
		.description {
			margin-top: 20px;
		}
	}
}
