#contact{
	// background-color: #FFFFC5;
	padding-top: 40px;
}
#contact-header{
	font-size: 100px;
	font-weight: 700;
	text-align: center;
}
#contact-container{
	margin-top: 80px;
}
.contact-info{
	text-align: center;
	font-size: 30px;
	font-weight: 500;
}
