#advantages{
	background-color: #D8EFD8;
}
.advantage-explanation{
	font-size: 18px;
	line-height: 28px;
	color: black;

	@media screen and (max-width: 767px){
		text-align: center;
	}
}
.advantage-name{
	font-size: 2.5em;
	color: #2A9000;
	font-weight: 300;
	line-height: initial;
}
